{% extends 'base.html.twig' %}

{% block title %}New Ministry{% endblock %}

{% block body %}
    <h1>Create new Ministry</h1>

    {{ include('ministry/_form.html.twig') }}

    <a href="{{ path('ministry_index') }}">back to list</a>
{% endblock %}
